@import '../js/src/themes/fomantic.scss';
@import 'live-view.scss';

.link {
  color: #3b82f6;

  &:hover {
    color: #1d4ed8;
  }
}

.danger {
  color: #ef4444;
  &:hover {
    color: #b91c1c;
  }
}

p.alert {
  margin: 0;
}

.navbar {
  margin: 0;
}

a {
  cursor: pointer;
}

#logo {
  font-family: 'Righteous', cursive;
  font-size: 2.8em;
  padding: 1rem;
}
